.letter{

}

.letter .title{
	font-size: 14px;
	font-weight: bold;
	background-color: #EC5D62;
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px solid #EE8F92;
	-moz-border-bottom-right-radius: 2em;
	-webkit-border-bottom-right-radius: 2em;
	border-bottom-right-radius: 2em;
	-moz-border-bottom-left-radius: 2em;
	-webkit-border-bottom-left-radius: 2em;
	border-bottom-left-radius: 2em;
	color: #FFF;
	box-shadow: 4px 4px 3px #FFE4E4;
}

.letter .content{
	font-size: 12px;
	background-color: #FCE1CC;
	padding: 5px 20px 5px 20px;
	margin-left: 23px;
	margin-right: 23px;
	-moz-border-bottom-right-radius: 2em;
	-webkit-border-bottom-right-radius: 2em;
	border-bottom-right-radius: 2em;
	-moz-border-bottom-left-radius: 2em;
	-webkit-border-bottom-left-radius: 2em;
	border-bottom-left-radius: 2em;
	box-shadow: 4px 4px 3px #FFE4E4;
}

.letter .content p{
	border-bottom: 1px solid #FFF;
	padding-top: 3px;
	line-height: 2em;
}
